xcuserdata
*.xccheckout
*/report.xml
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
.DS_Store
.DS_Store
Portfolio.xcodeproj/project.xcworkspace/xcuserdata/paulweichhart.xcuserdatad/UserInterfaceState.xcuserstate
